[Unit]
Description=Open Home Automation Bus

[Service]
Type=forking
GuessMainPID=yes
ExecStart=/opt/openhab/start_service.sh
ExecStop=/usr/bin/kill -SIGINT $MAINPID
ExecStopPost=
User=openhab
Group=daemon
WorkingDirectory=/opt/openhab

[Install]
WantedBy=multi-user.target