[Unit]
Description=Open Home Automation Bus
Requires=influxdb.service
After=influxdb.service

[Service]
Type=forking
GuessMainPID=yes
ExecStart=/opt/openhab/start_service.sh
ExecStop=/usr/bin/kill -SIGINT $MAINPID
ExecStopPost=
User=openhab
Group=daemon
WorkingDirectory=/opt/openhab
Restart=on-failure
RestartSec=3m
OnFailure=unit-status-mail@%n.service


[Install]
WantedBy=multi-user.target